{% extends 'base_generic.html' %}

{% block content %}
  <h2>Asset Details: {{ symbol }} {{ asset.Name }}</h2>
  {% if asset %}
  <p>Current Price: {{ asset.Asset_price }}</p>
  <p>Beta: {{ asset.Beta }}</p>
  <p>Price Earnings Ratio: {{ asset.PERatio }}</p>
  <p>Expected Asset Return: {{ asset.Expected_return }}</p>
  <p>Expected Market Return: {{ asset.Expected_market_return }}</p>
  <p>Expected Risk free Return: {{ asset.Risk_free_rate }}</p>
  <p>Standard Deviation: {{ asset.Std_dev }}</p>
  <!-- Display other financial metrics as needed -->
  {% else %}
  <p>Details for this asset are not available at the moment.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to Portfolio</button>
</form>
{% endblock %}