{% extends 'index.html' %}

{% block content %}
<div class="pagetitle">
  <h1>Asset</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Asset</a></li>
      <li class="breadcrumb-item active">Asset details</li>
    </ol>
  </nav>
</div>
  <h2>Asset Details: {{ symbol }} {{ asset.Name }}</h2>
  {% if asset %}
  <p>Current Price: {{ asset.Price }}</p>
  <p>Beta: {{ asset.Beta }}</p>
  <p>Expected Asset Return: {{ asset.Expected_return }}</p>
  <p>Standard Deviation: {{ asset.Stddev }}</p>
  <p>Sharpe Ratio: {{ asset.Sharpe_ratio }}</p>
  <!-- Display other financial metrics as needed -->
  {% else %}
  <p>Details for this asset are not available at the moment.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add to Portfolio</button>
</form>
<a href="{% url 'asset_dashboard' symbol %}">{{ asset.name }} Dashboard</a>
{% endblock %}