{% extends 'base_generic.html' %}

{% block content %}
  <h2>Stock Symbols</h2>
  <table>
    <thead>
      <tr>
        <th>Stock Name</th>
        <th>Ticker</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
          <td><a href="{% url 'asset_detail' stock.symbol %}">{{ stock.name }}</a></td>
          <td>{{ stock.symbol }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Stock Search</h2>
  <input type="text" id="searchBox" placeholder="Search for stocks...">
  <div id="suggestions" style="display:none;"></div>
{% endblock %}