{% extends 'index.html' %}

{% block content %}
<div class="pagetitle">
    <h1>Portfolio</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Portfolio</a></li>
        <li class="breadcrumb-item active">Portfolio Optimised Weights</li>
      </ol>
    </nav>
  </div>
<h2>Optimal Weights for Portfolio: {{ portfolio.name }}</h2>

<table>
    <tr>
        <th>Asset</th>
        <th>Optimal Weight</th>
    </tr>
    {% for asset, weight in zipped_weights %}
    <tr>
        <td>{{ asset }}</td>
        <td>{{ weight|floatformat:4 }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'portfolio_list' %}">Back to Portfolio List</a>
{% endblock %}