{% extends 'index.html' %}

{% block content %}
<div class="pagetitle">
    <h1>Portfolio details</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Portfolio</a></li>
        <li class="breadcrumb-item active">Portfolio details</li>
      </ol>
    </nav>
  </div>
<p>
  <a href="{% url 'portfolio_update' pk=portfolio.pk %}">
    {{ portfolio.name }}
  </a>
</p>
<h4>Assets:</h4>
    <table>
        <tr>
            <th>Asset Symbol</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Value</th>
            <th>Standard Deviation</th>
            <th>Expected Return</th>
            <th>Beta</th>
            <th>Sharpe Ratio</th>
            <th>Weight</th>
        </tr>
        {% for asset,dict in portfolio.portfolio_details.items %}
            {% if asset != "Portfolio" %}
                <tr>
                    <td>{{ asset }}</td>
                    <td>{{ dict.Quantity }}</td>
                    <td>{{ dict.Price|floatformat:2 }}</td>
                    <td>{{ dict.Asset_value|floatformat:2 }}</td>
                    <td>{{ dict.Stddev|floatformat:5 }}</td>
                    <td>{{ dict.Expected_return|floatformat:5 }}</td>
                    <td>{{ dict.Beta }}</td>
                    <td>{{ dict.Sharpe_ratio }}</td>
                    <td>{{ dict.Weight|floatformat:5 }}</td>
                </tr>
            {% endif %}
        {% empty %}
            <tr>
                <td colspan="7">No assets in this portfolio</td>
            </tr>
        {% endfor %}
    </table>
<h4>Portfolio Details:</h4>
<p>Portfolio Total Value: {{ portfolio.portfolio_details.Portfolio.Asset_value }}</p>
<p>Portfolio Expected Return: {{ portfolio.portfolio_details.Portfolio.Expected_return }}</p>
<p>Portfolio Standard Deviation: {{ portfolio.portfolio_details.Portfolio.Stddev }}</p>
<p>Portfolio Sharpe Ratio: {{ portfolio.portfolio_details.Portfolio.Sharpe_ratio }}</p>
<a href="{% url 'portfolio_suggest_weightage' portfolio.id %}">Optimise Portfolio</a>
{% endblock %}